.container {
  position: relative;
  
  .subtitle {
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
  }

  .btn_head button {
    margin-right: 1rem;
  }
  .amount {
    font-size: 24px;
  }

  .disable {
    background-color: #fff;
  }

  .lowest {
    text-align: left;
    position: relative;
    top: -35px;
    left: -33px;
    .lowestbtn {
      padding: 10px 14px;
      background-color: rgb(203 239 203);
      color: green;
      border: none;
      outline: none;
      cursor: pointer;
      position: absolute;
    }
  }
  

  #openTable {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  .discard {
    padding: 10px 14px;
    border-radius: 6px;
    // background-color: #fff;
    color: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .compare {
    padding: 10px 14px;
    border-radius: 6px;
    background-color: rgb(60 107 226);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .line {
    border: 1px solid #f0f0f0;
  }
  
  .btn span {
    padding: 10px 14px;
    border-radius: 6px;
    background-color: rgb(60 107 226);
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    // &:hover {
    //   color: #fff !important;
    //   background-color: #4096ff;
    // }
  }

  #openAnotherTable {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 7px;
    color: #000;
    background: transparent;
  }
  #openAnotherBtn {
    margin-right: 1rem;
  }
  #openAnotherBtn:hover {
    color: #4096ff;
    border: 1px solid #4096ff;
  }
}
.table_content {
  overflow-x: auto;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;
  // margin-top: 1rem;
  .footer_btn {
    padding: 10px 14px;
    border-radius: 6px;
    background-color: rgb(60 107 226);
    color: #fff;
    border: none;
    margin-top: 1rem;
    outline: none;
    width: 10%;
    cursor: pointer;
  }

  .footer_discard {
    padding: 10px 14px;
    border-radius: 6px;
    color: #000;
    background: transparent;
    margin-top: 1rem;

    border: 1px solid rgb(60 107 226);
    margin-right: 1rem;
    outline: none;
    width: 10%;
    cursor: pointer;
  }
  
}

.title {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  margin: 0;
  font-family: sans-serif;
}